@media only screen and (min-width:375px) {
    html {
        font-size: 17px;
    }
}

@media only screen and (min-width:768px) {
    html {
        font-size: 19px;
    }

}

@media only screen and (min-width:1024px) {

    html {
        font-size: 20px;
    }

    .result-form {
        width: 25%;
    }

    .btn-input {
        width: 18%;
    }   
}

@media only screen and (min-width:1365px) {
    html {
        font-size: 21px;
    }

}

@media only screen and (max-height:280px) {
    html {
        font-size: 19px;
    }

    .nums-container {
        margin: 3rem auto;
    }
}