/********************
REUSABLE & COMMONCODE
********************/

html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    outline: none;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Lato", sans-serif;
    background-color: var(--blue);
    color: var(--white);
}

:root {
    --blue: #00c3f7;
    --pink: #f41971;
    --white: #ffffff;
    --orange: #ffb94a;
}

/* .container {
    width: 94%;
    max-width: 1200px;
    margin: 0 auto;
} */

.home,
.about-me {
    height: 100vh;
}

/********************
******* HOME ********
********************/

.home {
    display: flex;
    flex-direction: column;
}

/* nav  */

.nav-container{
    display: flex;
    justify-content: space-between;
    margin-top:0.7rem;
    width: 93%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0.7rem;
}

.score-container{
    height: 50px;
    line-height: 50px;
}

.score{
    font-size: 0.9rem;
    text-align: center;

}

.nav-list-container {
    position: relative;
    width: 50%;
}

.nav-list {
    width: 100%;
    position: absolute;
    transform: translateY(-100%);
    transition: 0.5s ease;
    margin-top:-0.7rem;
}

.nav-list-active {
    transform: translateY(0);
    margin-top: .5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .nav-link:first-child {
    margin: 0 16px 16px 0;
} */

.nav-link>a,
.nav-link>a:visited,
.nav-link>a:focus {
    text-decoration: none;
    color: var(--pink);
    font-size: 1.2rem;
}

.burger {
    cursor: pointer;
    display: block;
    margin: auto 0;
}

.burger-line {
    display: block;
    background-color: var(--pink);
    height: 5px;
    width: 33px;
    margin: 7px 0;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.line-one-acitve {
    transform: translateY(12px) rotate(135deg);
}

.line-two-acitve {
    transform: scale(0);
}

.line-three-acitve {
    transform: translateY(-12px) rotate(-135deg);
}

/* mid-home */

.header-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    justify-content: space-around;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    transform: translateY(-65px);
}

.nums-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}

.nums,
.num-op,
#result {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;

}

.result-form {
    width: 35%;
    text-align: center;
}

#result {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid var(--pink);
    outline: 0;
    color: var(--white);
    padding: 7px auto;
    background: transparent;
    transition: border-color 0.2s;
}

#result::placeholder {
    color: var(--pink);
}

.btn-input {
    background: var(--pink);
    color: var(--white);
    cursor: pointer;
    outline: none;
    width: 24%;
    height: 34px;
    padding: 0 20px;
    box-shadow: 0 2px 0 0.3px var(--white);
    border: 1px solid transparent;
    border-radius: 20px;
    transition: 0.2s;
}

.btn-input-clicked{
    transform: translate(0 , 2px);
    box-shadow: none;
}